@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

:root {
    --raisin-black: #22181cff;
    --misty-rose: #f5e3e0ff;
    --light-green: #61e786ff;
    --red-salsa: #f8333cff;
    --blue-munsell: #2b9eb3ff;
    --maximum-yellow-red: #ffc15eff;

    --dark-jungle-green: #001514ff;
    --white: #fbfffeff;
    --ua-red: #e01a4fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    // outline: 1px solid red;
}

html,body, #root{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;

    .spinner{
        width: 50px;
        height: 50px;
        background-color: transparent;
        padding-top: 5px;        
        border-radius: 50%;
        border: 10px solid #e01a4f11; 
        border-top: 10px solid #e01a4fff;  
        animation: rotateAnimation 1s infinite ease-in-out;
    }

    @keyframes rotateAnimation {
        to{
            rotate: 1turn;
        }
    }

    .caption{
        font-size: 1.5rem;
        color: #333;
    }

}